.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
  
  .notification:hover {
    background: red;
  }
  
  .registration{
    background-color: blueviolet;
    border-radius: 10px;
    text-align: center;

  }
  .front{
    background-color: green;
    border-radius: 4px;

  }
  .top{
    text-align: center;
    
  }
  
